
<header class="row readers-header">
        


        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="col-lg-9 col-sm-7 hidden-xs logo">
               
                <a href="index.html"><img src="images/readers-logo.png" alt="Striving Readers Logo" class="img-responsive" /></a>
				
                <div class="logo-text">
                    <h1>Striving Readers</h1>
                </div>
            </div>

            <div class="col-lg-3 col-sm-5 hidden-xs">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="go">Go</button>
                </form>
            </div>
            

            
        </div>

        <nav class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="navbar-header visible-xs col-xs-12">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
                <a class="navbar-brand visible-xs" href="#"><img src="images/readers-logo.png" alt="Striving Readers Logo" /></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
                <ul class="nav navbar-nav center">
                    <li class="active"><a href="index.html">HOME</a></li>
                  <li><a href="survey.html" >SURVEY</a></li>                     
                     <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">REGISTER</a>
						   <ul class="dropdown-menu">
								<li><a href="grantees.html">GRANTEES</a></li>
								<li><a href="project-staff.html">PROJECT STAFF</a></li>
                                <li><a href="federal-staff.html">FEDERAL STAFF</a></li>
							</ul>
                    </li> 
                    <li><a href="logistical.html">LOGISTICAL</a></li>
                    <li><a href="agenda.html">AGENDA</a></li>
                    <li><a href="contact.html">CONTACT</a></li>             
                    <li class="visible-xs">
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                REGISTRATION
                            </div>
                            <button type="submit" class="go">Go</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

