$header-color: #14497d;
$nav-blue: #0d2338;
$nav-hover-blue: #296dad;
$nav-dropdown-bg-color: #0e3f6f;
$nav-dropdown-bg-hovor-color: #0e3f6f;
$red: #5e0810;
$dark-red: #501111;
$white: #fff;
$black: #000;
$text-color: #333;
$light-green: #418971;
$blue-green: #265a5f;
$forest-green: #152907;
$slate: #78868c;
$cornflower: #373f53;
$light-grey: #eee;
$medium-grey: #d2d4d6;
$dark-grey: #9b9c9c;
$dark-blue: #0c2340;
$blue-grey: #556279;

.home-section-pad {
    padding: 20px;
}
