.readers-footer {
    .footer-nav {
        ul {
            li {
                display: inline-block;
                width: 33%;
                padding: 20px 0;
                text-align: center;

                a {
                    &:hover {}
                }
            }
        }
    }
}
