.readers-footer {
    display: block;
    position: relative;
    bottom: 0;
    min-height: 120px;
    width: 100%;
    color: $white;
    background-color: $header-color;
    clear: both;
    text-align: center;
    border-top: 10px solid $white;
    padding: 20px;

    .footer-nav {
        display: block;

        .img-responsive.text-center.ed-logo {
            margin: auto;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                display: inline-block;
                width: 33%;
                padding: 20px 0;
                text-align: center;

                a {
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        color: $light-grey;
                    }
                }
            }
        }
    }
}
