.readers-header {
    .logo {
        img {}

        .logo-text {
            h1 {
                font-size: 28px;
            }

            p {}
        }
    }

    span.loginLabel {}

    .go {}

    a {
        &:hover {}
    }

    nav.navbar {
        .navbar-header {
            img {}

            button {
                .icon-bar {}
            }
        }

        #navbar {
            ul.navbar-nav {
                .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {}

                li {
                    a {
                        &:hover {}

                        &:focus {}
                    }
                }

                li.dropdown > ul.dropdown-menu {
                    li {
                        a {
                            &:hover {}
                        }
                    }
                }
            }
        }
    }
}
