
.lead {
  font-size: ($font-size-base * 1.5);
}


.dl-horizontal {
  dt {
    float: left;
    width: ($dl-horizontal-offset - 20);
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: $dl-horizontal-offset;
  }
}
